<section>
  <h3>*ngIF</h3>
  <hr />
  <p *ngIf="!oculto">
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laboriosam sed fuga non, maxime deleniti vitae alias odio a quidem quaerat quis in consequatur ab error hic nulla assumenda eos. Excepturi?</p>
    <button (click)="ocultar()"[disabled]="oculto">Ocultar</button>
</section>

<section>
  <h3>*ngFor</h3>
  <hr />
  <input [(ngModel)] = "alimento" placeholder="Digite um item"/>
  <button (click)="add()">ADD</button>
  <ul>
    <li *ngFor="let compra of compras, let i = index">{{ i }} - {{ compra }}</li>
  </ul>
</section>

<section>
  <h3>*ngSwitch</h3>
  <hr />
  <select [(ngModel)]="status">
    <option value="loading">Loading</option>
    <option value="erro">Erro</option>
    <option value="data">Data</option>
  </select>
  
  <div [ngSwitch]="status">
    <p *ngSwitchCase="'loadin'">Carregando...</p>
    <p *ngSwitchCase="'erro'">Um erro ocorreu...</p>
    <p *ngSwitchCase="'data'">Os dados chegaram!</p>
    <p *ngSwitchDefault>Problema desconhecido!</p>
  </div>
</section>
